<%= include_gon %>

<div id="request_review"></div>

<button class="btn btn-success">マージ</button>
<button class="btn btn-warning">一部調整してマージ</button>
<button class="btn btn-error">リジェクト</button>
<%# stylesheet_pack_tag 'request_review' %>
<%= javascript_pack_tag 'request_review' %>
