<h1>Special thanks</h1>
<h2>Assets</h2>
<ul>
  <li><a href="https://picturepan2.github.io/spectre/" target="_blink">SPECTRE.CSS</a></li>
  <li><a href="http://fontello.com/" target="_blink">fontello</a></li>
  <li><a href="https://www.freevector.com/colorful-abstract-background-28024" target="_blink">FreeVector.com</a></li>
  <li><a href="https://www.freepik.com/free-photos-vectors/people" target="_blink">People vector created by pikisuperstar - www.freepik.com</a></li>
  <li><a href="https://www.freepik.com/free-photos-vectors/business" target="_blink">Business vector created by pikisuperstar - www.freepik.com</a></li>
</ul>