<h1>Special thanks</h1>
<h2>Assets</h2>
<ul>
  <li><a href="https://picturepan2.github.io/spectre/">SPECTRE.CSS</a></li>
  <li><a href="http://fontello.com/">fontello</a></li>
  <li><a href="https://www.freevector.com/colorful-abstract-background-28024">FreeVector.com</a></li>
</ul>