body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

$navbar-height: 36px;

.container {
  &.is-main {
    flex: 1;
    margin-top: 1rem;
    padding: 0 1rem;
  }
}

.form-action {
  margin-top: 0.8rem;
}

.columns.is-index {
  .column.side-column {
    padding: 0 25px;
  }
}

.btn-original {
  display: table;
  padding: 6px 12px;
  border-radius: 0.1rem;
  &:hover {
    text-decoration: none;
  }
  div {
    display: table-cell;
    vertical-align: middle;
    height: 18px;
    svg {
      display: table-cell;
      margin-right: 8px;
    }
  }
  span {
    color: #fff;
    font-size: 20px;
  }
  &.btn-twitter {
    background-color: #1da1f2;
  }
  &.btn-discord {
    background-color: #7289da;
  }
}

.btn-full {
  width: 100%;
}

.align-items-center {
  align-items: center !important;
}

.signup_user {
  background-color: #fdffe0;
  // box-shadow: 5px 6px 0px #ffdc8c;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 8px;
  margin-right: 8px;
  h4 {
    font-size: 1.1rem;
    text-align: center;
  }
}
