<%= buoy_with_title :wiki, {wiki: @wiki}, title: @wiki.title %>

<%= render layout: 'wikis/layout' do %>
  <h2><%= @page.title %></h2>
  <div id="markdown">
    <%= sanitize(@page.latest_history.content) %>
  </div>
<% end %>