article {
  padding: 1rem 0;
  @media (min-width: $off-canvas-breakpoint) {
    padding: 0 1rem;
  }

  table {
    overflow-x: auto;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    border-collapse: collapse;
    border: solid 1px #ddd;
    border-spacing: 0;
  }
  tr:hover {
    background: #eee;
  }
  tr:not(:first-child) {
    th,
    td {
      border-top: solid 1px #ddd;
    }
  }
  th {
    text-align: left;
    background-color: #e8e2dc;
  }
  th,
  td {
    padding: 6px 10px;
    border-right: 1px solid #ddd;
    text-align: center;
  }
  thead th {
    border-bottom: solid 2px #ccc;
  }

  .flip {
    display: flex;
    overflow: hidden;
    background: none;
    thead {
      display: flex;
      flex-shrink: 0;
      min-width: min-content;
    }
    tbody {
      display: flex;
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
    }
    tr {
      display: flex;
      flex-direction: column;
      min-width: min-content;
      flex-shrink: 0;
    }
    td,
    th {
      display: block;
    }
    td {
      background-image: none !important;
      border-left: 0;
    }
    th:not(:last-child),
    td:not(:last-child) {
      border-bottom: 0;
    }
  }
}
