@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?57710328#fontello') format('svg');
  }
}
*/

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-discord:before {
  content: '\e800';
} /* '' */
.icon-navi:before {
  content: '\e801';
} /* '' */
.icon-folder:before {
  content: '\e802';
} /* '' */
.icon-page-add:before {
  content: '\e803';
} /* '' */
.icon-heart:before {
  content: '\e805';
} /* '' */
.icon-app:before {
  content: '\e806';
} /* '' */
.icon-user-add:before {
  content: '\e807';
} /* '' */
.icon-warning:before {
  content: '\e808';
} /* '' */
.icon-trash:before {
  content: '\e809';
} /* '' */
.icon-wrench:before {
  content: '\e80b';
} /* '' */
.icon-ok:before {
  content: '\e80d';
} /* '' */
.icon-chat:before {
  content: '\e80e';
} /* '' */
.icon-attach:before {
  content: '\e80f';
} /* '' */
.icon-link:before {
  content: '\e810';
} /* '' */
.icon-pin:before {
  content: '\e811';
} /* '' */
.icon-signal:before {
  content: '\e816';
} /* '' */
.icon-contacts:before {
  content: '\e817';
} /* '' */
.icon-news:before {
  content: '\e818';
} /* '' */
.icon-gift:before {
  content: '\e819';
} /* '' */
.icon-bookmark:before {
  content: '\e81a';
} /* '' */
.icon-cog:before {
  content: '\e81b';
} /* '' */
.icon-cancel-1:before {
  content: '\e81c';
} /* '' */
.icon-wiki-add:before {
  content: '\e81d';
} /* '' */
.icon-question:before {
  content: '\e81e';
} /* '' */
.icon-pencil:before {
  content: '\e81f';
} /* '' */
.icon-key:before {
  content: '\e821';
} /* '' */
.icon-twitter:before {
  content: '\f099';
} /* '' */
.icon-slack:before {
  content: '\f198';
} /* '' */
.icon-sliders:before {
  content: '\f1de';
} /* '' */
.icon-github:before {
  content: '\f300';
} /* '' */
