.sidebar {
  background-color: #fff;
  box-shadow: 3px 4px 0 #f1f1f1;
  border-radius: 8px 0px 0px 0px;
  @media (min-width: $off-canvas-breakpoint) {
    background-color: #f5f5f5;
  }
}

.subsidebar {
  margin: 1rem 0;
  .title {
    margin: 0;
    font-weight: bold;
  }
  ul.notifications {
    margin: 0;
    li {
      list-style-position: outside;
      margin-left: 1.1rem;
    }
  }
}