.wiki_page {
  position: relative;

  .control_bar {
    @media (max-width: $off-canvas-breakpoint) {
      ul.menu {
        background-color: #e2e2e2;
        li {
          display: inline-block;
        }
      }
    }
    @media (min-width: $off-canvas-breakpoint) {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.watch_wiki {
  cursor: pointer;
  svg {
    width: 2rem;
    height: 2rem;
  }
}
