<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<%= stylesheet_pack_tag 'markdown_editor' %>
<%= javascript_pack_tag 'markdown_editor' %>

<div class="modal" id="attachments_modal">
  <a class="modal-overlay" onclick="toggleModal('attachments_modal')"></a>
  <div class="modal-container">
    <div class="modal-header">
      <a class="btn btn-clear float-right" onclick="toggleModal('attachments_modal')"></a>
      <div class="modal-title h5">アップロードファイル一覧</div>
    </div>
    <div class="modal-body">
      <div class="content">

        <div class="panel">
          <div class="panel-header">
            <div class="panel-title"></div>
          </div>
          <div class="panel-body">
          <% @attachments.each do |atc| %>
            <%= image_tag resize_climage(atc.file.url, "c_fill,w_50,h_50"), onclick: "insert_attachment('#{atc.file.url}')" %>
          <% end %>
          </div>
        </div>

      </div>
    </div> <!--modal-body-->
    <div class="modal-footer">
      <div class="columns">
        <div class="column">
          <div class="input-group">
            <span class="input-group-addon">Width</span>
            <input type="number" id="insert_img_width" class="form-input" placeholder="50">
          </div>
        </div>
        <div class="column">
          <div class="input-group">
            <span class="input-group-addon">Height</span>
            <input type="number" id="insert_img_height" class="form-input" placeholder="50">
          </div>
        </div>
      </div>
      画像クリックで挿入できます
    </div>
  </div>
</div>

<script>
function insert_attachment(el) {
  cloudinary_path = 'https://res.cloudinary.com/<%= ENV['CLOUDINARY_CLOUD_NAME'] %>/image/upload/'
  if (!el.match(cloudinary_path)) {
    return el
  }
  
  let opt = []
  insert_img_width = document.getElementById('insert_img_width').value.replace(/[^0-9]/g, '')
  if (insert_img_width.length !== 0) {
    opt.push('w_' + insert_img_width)
  }
  insert_img_height = document.getElementById('insert_img_height').value.replace(/[^0-9]/g, '')
  if (insert_img_height.length !== 0) {
    opt.push('h_' + insert_img_height)
  }
  if (opt.length === 2) {
    opt.unshift('c_fit')
  }

  let path = el
  if (opt.length !== 0) {
    path = cloudinary_path + opt.join(',') + '/' + path.replace(cloudinary_path, '')
  }

  let result
  if (tui.currentMode == 'wysiwyg') {
    result = `<img src="${path}" alt="">`
    tui.wwEditor.replaceSelection(result)
  } else {
    result = `![](${path})`
    tui.mdEditor.replaceSelection(result)
  }
}

function transfer_to_textarea() {
  let content_area = document.getElementById('content_area')
  content_area.value = tui.getMarkdown()
}
</script>

<style>
.custom-button {
  color: #555!important;
  background-image: none!important;
}

.tui-editor-defaultUI-toolbar {
  padding: 0 25px 0 10px;
}

.tui-editor-defaultUI .te-switch-button {
  width: 120px;
}

div.tui-popup-wrapper.te-popup-add-image.tui-editor-popup > div.tui-popup-body > label,
div.tui-popup-wrapper.te-popup-add-image.tui-editor-popup > div.tui-popup-body > input {
  display: none;
}
</style>